Tests: gnome-desktop-testing
Depends: dbus, dbus-tests, dbus-x11, gnome-desktop-testing, xauth, xvfb

Tests: apparmor
Restrictions: allow-stderr, needs-root
Depends: apparmor, dbus, dbus-tests

Tests: root
Restrictions: allow-stderr, needs-root
Depends: dbus, dbus-tests

Tests: system-bus
Restrictions: isolation-machine, needs-reboot, needs-root
Depends: dbus, dbus-tests, init

Tests: build
Restrictions: superficial
Depends: libdbus-1-dev, dbus, build-essential

Tests: dbus-bin
Restrictions: allow-stderr, superficial
Depends: dbus-bin

Tests: dbus-daemon
Restrictions: allow-stderr, superficial
Depends: dbus-daemon

Tests: machine-id
Restrictions: allow-stderr, needs-root, superficial
Depends: dbus-daemon

Test-Command: debian/tests/machine-id with-systemd
Features: test-name=machine-id_with_systemd
Restrictions: allow-stderr, needs-root, superficial
Depends: dbus-daemon, systemd

Tests: dbus-session-bus-common
Restrictions: allow-stderr, superficial
Depends: dbus-session-bus-common

Tests: dbus-system-bus-common
Restrictions: allow-stderr, superficial
Depends: dbus-system-bus-common
